#Azure AD app settings
TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
MAILBOX=ap@piperelectric.com #legacy field

#sql settings
SQL_SERVER=localhost
SQL_DATABASE=RaivenSync
SQL_USERNAME=
SQL_PASSWORD=
SQL_TRUSTED_CONNECTION=false

ENABLE_SUBJECT_FILTER=false
INVOICE_SUBJECT_KEYWORDS=invoice,bill,statement

#SFTP SETTINGS
SFTP_ENABLED=true
SFTP_HOST=
SFTP_PORT=22
SFTP_USERNAME=
SFTP_PRIVATE_KEY_PATH=C:\FileZilla\crete-ssh
SFTP_REMOTE_BASE_DIR=/Crete

#SYNC SETTINGS
MAIL_SYNC_TYPE=Days #Span or Days
MAIL_LOOKBACK_DAYS=1
MAIL_FROM_DATE=2025-02-01
MAIL_TO_DATE=2025-12-31

#loop settings
LOOP_ENABLED=false #should the process run in a loop true or false
LOOP_SLEEP_SECONDS=36000   #36000 seconds = 10 hours

# =====================
# Post-upload behavior
# =====================

POST_UPLOAD_ACTION = os.getenv("POST_UPLOAD_ACTION", "DELETE").upper()
# Valid values: ARCHIVE | DELETE
